:root {
  --crust: #17313E;
  --dark: #415E72;
  --accent: #C5B0CD;
  --light: #F3E2D4;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--dark);
}

#canvas {
  background-color: var(--crust);
  /* width: 100%;
  height: 100%; */
}

#controls {
  position: absolute;
  top: 0;
  padding: 4px;
}

input[type="button"] {
  background-color: transparent;
  border: none;
  color: var(--crust);
  background-color: var(--dark);
  font-family: Hurmit Nerd Font, sans-serif;
  cursor: pointer;
  font-size: 18px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 4px;
}

input[type="button"]:hover:active {
  background-color: var(--light);
  color: var(--crust);
}

input[type="button"]:hover {
  background-color: var(--crust);
  color: var(--light);
}